.illusions {
  padding-bottom: 75px;
  &__title {
    max-width: 680px;
    margin-bottom: 30px;
    &::before {
      top: auto;
      bottom: -5px;
      width: 645px;
      max-width: 100%;
      @include tablet-min {
        bottom: auto;
        top: 12px;
        width: 270px;
      }
    }
  }
  &__body {
    padding: 24px 32px;
    @include tablet {
      padding: 15px;
    }
  }
  &__content {
    margin: 0px 0px 16px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    span {
      color: var(--red);
    }
  }
  &__nav {
    margin-top: 30px;
  }
}
