---
import { Icon } from 'astro-icon/components';
---

<section class="illusions">
  <div class="container">
    <h2 data-aos="fade-right" class="title title-1 illusions__title">
      Как иллюзии и страхи удерживают нас от истинного пробуждения и счастья
    </h2>
    <div class="body-section illusions__body">
      <p data-aos="fade-down" class="illusions__content">
        Самое страшное, что <span>социум диктует, каким ты должен быть</span> в роли мужчины,
        женщины, мужа, жены, ребёнка, родителя, предпринимателя, преподавателя. 
      </p>
      <p data-aos="fade-down" class="illusions__content">
        <span>Люди начинают бежать в духовность, где проходят куча проработок и обучений,</span> но
        дойти до точки пробуждения и зафиксировать свое состояние счастья получается лишь у
        немногих, потому что люди в иллюзии духовности и продолжают качаться на эмоциональных
        качелях, к сожалению считая что эта опция неизбежна.
      </p>
      <p data-aos="fade-down" class="illusions__content">
        <span>Выйти за пределы страхов и начать жить свою жизни,</span> к сожалению у людей не
        хватает сил, а точнее они даже не видят выход, потому что в голове одна мешанина из
        противоречивых мыслей, которые сжирают энергию человека и вносят непонимание в какую сторону
        идти и какой ключевой выбор делать. Именно это приводит к выгоранию, стагнации и
        депрессиям. 
      </p>
      <p data-aos="fade-down" class="illusions__content">
        <span>А так же люди не видят ценность себя,</span> не могут полюбить и принять себя, поэтому
        и позволяют себя юзать и юзают других потому что ненавидят самих себя.
      </p>
      <div data-aos="fade-up" class="nav illusions__nav">
        <a href="#gift" class="btn-primary nav__btn anchor">Что с этим делать?</a>
        <a
          href="https://www.instagram.com/ya_vernulsia?igsh=ZnF6ZHl4MGprbDFr"
          target="_blank"
          class="nav__social-btn"
        >
        <Icon name="inst" class="nav__social-icon" />
        </a>
      </div>
    </div>
  </div>