---
import { Icon } from 'astro-icon/components';
---

<section class="offer">
  <div class="container">
    <div class="body-section offer__body">
      <h2 data-aos="fade-right" class="title title-1 offer__title">
        Распечатаем силу и потенциал, с помощью которых гармонизируем ваш внутренний мир и создадим
        желаемые результаты по всем сферам жизни за 2 месяца
      </h2>
      <ul class="list offer__list">
        <li data-aos="fade-down" class="offer__item">
          2 месяца последовательных подкастов, действенные методы и практики
        </li>
        <li data-aos="fade-down" class="offer__item">Вернем деньги, если первая неделя не понравится! </li>
        <li data-aos="fade-down" class="offer__item">
          Стоимость <span>4500₽</span> вместо <span>6500₽</span> при оплате единым платежом в первые
          сутки 
        </li>
      </ul>
      <div data-aos="fade-up" class="nav">
        <a href="https://t.me/jesus_voskres" target="_blank" class="btn-primary nav__btn">Вписываюсь</a>
        <a
          href="https://www.instagram.com/ya_vernulsia?igsh=ZnF6ZHl4MGprbDFr"
          target="_blank"
          class="nav__social-btn"
        >
        <Icon name="inst" class="nav__social-icon" />
        </a>
      </div>
    </div>
  </div>
</section>