<div class="ticker">
  <div class="ticker__wrapper">
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
    <span class="ticker__item">@jesus_voskres</span>
  </div>
</div>
